#Don't use quotes

## [Required] ##

CMD_PREFIX= #self explanatory 
OWNER= #Deployer's phone number

## [Optional] ##

PH_NUMBER= #Use Phone number to login with code instead of Qr code
#ALLOWED_CHATS= #restrict bot to predetermined chats
#ALWAYS_DEPLOY_LATEST=
#BANNED_USERS=
#BLOCK_NSFW=
#DATABASE_URL= #Mongo Db
#DBNAME=
#DEBUG= Start bot with loggers set to debug
#DEV=
#IGNORE_PM= #Does not do anything if ALLOWED_CHATS is specified
#LOG_GROUP=
#RSS_CHAT= #Default RSS chat
#TELEGRAPH_API=
#WA_DB=     #postgresql uri or file name for sqlite db